footer.footer
  .container
  .row
    .col-sm-3
      img.mb-3.lozad(src=settingGeneral.logo, width="230", height="100", title="shop hoa luxury flowers.vn", data-loaded="true")
      br
      | Hotline: 1900 456 456 - 0888 582 915
      br
      | Email: sales@luxuryflowers.vn
      .row.mt-3.mb-3
        .col-md-5
          img.lozad(src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/qr.png.webp", data-src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/qr.png.webp", width="92", height="114", alt="quét để tải app FlowerCorner", title="quét để tải app FlowerCorner", data-loaded="true")
        .col-md-7
          p Tải ứng dụng ngay!
          p
            //- a(href="https://apps.apple.com/vn/app/flower-corner/id1476554359")
            img.lozad(src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/appstore.png.webp", data-src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/appstore.png.webp", width="139", height="35", alt="FlowerCorner trên app store", title="FlowerCorner trên app store", data-loaded="true")
          p
          p
            //- a(href="https://play.google.com/store/apps/details?id=zas.trading.fc.app")
            img.lozad(src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/gplay.png.webp", data-src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/gplay.png.webp", width="139", height="35", alt="FlowerCorner trên Google play", title="FlowerCorner trên Google play", data-loaded="true")
          p
    .col-sm-3
      h5.mb-3 CHĂM SÓC KHÁCH HÀNG
      div
        p: a(href="/thong-tin/gioi-thieu", rel="nofollow") Giới Thiệu
        p: a(href="/thong-tin/lien-he", rel="nofollow") Liên Hệ
        p: a(href="/thong-tin/chinh-sach-van-chuyen", rel="nofollow") Chính Sách Vận Chuyển
        p: a(href="/thong-tin/cau-hoi-thuong-gap", rel="nofollow") Câu Hỏi Thường Gặp
        p: a(href="/thong-tin/hinh-thuc-thanh-toan", rel="nofollow") Hình Thức Thanh Toán
        p: a(href="/thong-tin/bao-mat-thong-tin", rel="nofollow") Bảo Mật Thông Tin
        p: a(href="/thong-tin/chinh-sach-doi-tra", rel="nofollow") Chính Sách Hoàn Tiền
        p: a(href="/thong-tin/khieu-nai", rel="nofollow") Xử Lý Khiếu Nại
        p: a(href="/thong-tin/tai-sao-nen-chon-flower-corner", rel="nofollow") Tại Sao Nên Chọn FlowerCorner.vn
        p: a(href="https://blog.flowercorner.vn/", rel="follow") Blog
    .col-sm-2
      h5.mb-3 THEO DÕI
      div
        p: a(href="https://www.facebook.com/flowercorner.vn/", rel="nofollow") 
          i.fa-brands.fa-facebook(aria-hidden="true")
          |  Facebook
        p: a(href="https://twitter.com/FlowerCorner3", rel="nofollow") 
          i.fa-brands.fa-twitter-square(aria-hidden="true")
          |  Twitter
        p: a(href="https://www.instagram.com/flowercorner.vn/", rel="nofollow") 
          i.fa-brands.fa-instagram(aria-hidden="true")
          |  Instagram
        p: a(href="https://www.linkedin.com/company/flowercorner/", rel="nofollow") 
          i.fa-brands.fa-linkedin(aria-hidden="true")
          |  Linkedin
        p: a(href="https://www.youtube.com/flowercorner", rel="nofollow") 
          i.fa-brands.fa-youtube(aria-hidden="true")
          |  Youtube
    .col-sm-4
      h5.mb-3 SHOP HOA FLOWERCORNER
      p: b Cửa hàng chính:
        a(href="https://goo.gl/maps/qiFtVyQi725jyLVT9") 142 Nguyễn Văn Cừ, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM
      br
      p: b Cửa Hàng TP.HCM:
        a(href="https://goo.gl/maps/iWYo2zvPormh4Goz9") 225/3 Nguyễn Đình Chiểu, Phường 5, Quận 3, TP.HCM
      br
      p: b Chi nhánh Hà Nội:
        a(href="https://g.page/flowercornerhanoi", rel="follow") 65 Trần Phú, Ba Đình, Hà Nội
      p CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ ZAS
        | Mã số thuế: 0313630426
