extends ../../layouts/default
include ../../mixins/box-head
include ../../../client/mixins/product-layout.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)

        +product-grid(products)